<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
    <header th:replace="~{fragments :: header}"></header>
    <main>
        <!-- TODO: Modify form to have fields for artwork title, artist, nationality, and time period -->
        <form action='/collection/add' method='POST'>
            <h3>Add Artwork to Collection</h3>
            <input type='text' name='artwork' />
            <button type='submit'>Add to Collection</button>
        </form>
    </main>
</body>
</html>