<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
    <header th:replace="~{fragments :: header}"></header>
    <main>
        <!-- TODO: Modify form to have fields for artwork title, artist, and time period -->
        <form action='/collection/add' method='POST'>
            <h3>Add Artwork to Collection</h3>
            <label>Title </label><input type="text" name="title" />
            <label>Artist </label><input type="text" name="artist" />
            <label>Period </label><input type="text" name="period" />
            <button type='submit'>Add</button>
        </form>
    </main>
</body>
</html>

<!--

    TEST DATA:
    Mona Lisa, Leonardo da Vinci, 1503-1506
    Girl with a Pearl Earring, Johannes Vermeer, 1665
    The Starry Night, Vincent van Gogh, 1889
    The Kiss, Gustav Klimt, 1908
    The Persistence of Memory, Salvador Dali, 1931
    Water Lilies, Claude Monet, 1919

-->