<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
    <header th:replace="~{fragments :: header}"></header>
    <main>
        <h3>COLLECTION</h3>
        <p th:unless="${collection} and ${collection.size()}">
            An empty collection is not much of a collection at all.
        </p>
        <ul>
            <th:block th:each="artwork : ${collection}">
                <li th:text="${artwork.title + ' &mdash; ' + artwork.artist + ', ' + artwork.period}"></li>
            </th:block>
        </ul>
        <p><a href="/collection/add">Add</a> a work of art to the collection.</p>
        <p th:if="${collection.size()}"><a href="/collection/delete">Delete</a> artwork from the collection.</p>
    </main>
</body>
</html>