<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
    <header th:replace="~{fragments :: header}"></header>
    <main>
        <h2>COLLECTION</h2>
        <p th:unless="${collection} and ${collection.size()}">
            <em>No contents to display.</em>
        </p>
        <ul>
            <th:block th:each="artwork : ${collection}">
                <li th:text="${artwork.title + ' &mdash; ' +
                    artwork.artist + ', ' +
                    artwork.period + ' (' +
                    artwork.style.displayName + ')'}"></li>
            </th:block>
        </ul>
        <p><a href="/collection/add">Add</a> a work of art to the collection.</p>
        <p th:if="${collection.size()}"><a href="/collection/delete">Delete</a> artwork from the collection.</p>
    </main>
</body>
</html>