<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
    <header th:replace="~{fragments :: header}"></header>
    <div id="admin-bar">
        <div class="nav">
            <a class="navlink" href="/artworks">View List of Artworks</a>
            <a class="navlink" href="/artworks/delete">Delete Art</a>
        </div>
    </div>
    <main>
        <form action='/artworks/add' method='POST'>
            <h3>Add Artwork to Collection</h3>

            <div class="form-item">
                <label for="title">Title</label>
                <input th:field="${artwork.title}" />
                <p class="error" th:errors="${artwork.title}"></p>
            </div>
            <div class="form-item">
                <label for="artist">Artist</label>
                <select th:field="${artwork.artist}">
                    <!-- th: text will use implicit toString() to get full name -->
                    <option th:each="artist : ${artists}"
                            th:value="${artist.id}"
                            th:text="${artist}"
                    ></option>
                </select>
            </div>
            <div class="form-item">
                <label for="media">Media</label>
                <input th:field="${artwork.media}" />
            </div>
            <div class="form-item">
                <label for="yearCreated">Year Created</label>
                <input th:field="${artwork.yearCreated}" />
            </div>
            <div class="form-item">
                <label for="style">Style</label>
                <select th:field="${artwork.style}">
                    <option th:each="style : ${styles}"
                            th:value="${style}"
                            th:text="${style.displayName}"
                    ></option>
                </select>
            </div>
            <div class="form-item">
                <label for="imageURL">Image URL</label>
                <input th:field="${artwork.imageURL}" />
            </div>
            <button type='submit'>Add</button>
        </form>
    </main>
</body>
</html>
