<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
    <header th:replace="~{fragments :: header}"></header>
    <div id="admin-bar">
        <div class="nav">
            <a class="navlink" href="/artworks">View List of Artworks</a>
            <a class="navlink" href="/artworks/delete">Delete Artwork</a>
        </div>
    </div>
    <main>
        <h3>Add Artwork</h3>
        <form action='/artworks/add' method='POST'>
            <div class="container">
                <div class="row">
                    <div class="form-item col-8">
                        <label for="title">Title</label>
                        <input th:field="${artwork.title}" />
                        <p class="error" th:errors="${artwork.title}"></p>
                    </div>
                    <div class="form-item col-4">
                        <label for="artist">Artist</label>
                        <select th:field="${artwork.artist}">
                            <option value="">Select an artist</option>
                            <!-- th: text will use implicit toString() to get full name -->
                            <option th:each="artist : ${artists}"
                                    th:value="${artist.id}"
                                    th:text="${artist}"
                            ></option>
                        </select>
                        <p class="error" th:errors="${artwork.artist}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-item col-2">
                        <label for="yearCreated">Year Created</label>
                        <input th:field="${artwork.yearCreated}" />
                        <p class="error" th:errors="${artwork.yearCreated}"></p>
                    </div>
                    <div class="form-item col-4">
                        <label for="media">Media</label>
                        <input th:field="${artwork.media}" />
                    </div>
                    <div class="form-item col-2">
                        <label for="width">Width (in.)</label>
                        <input type="number" min="0" step="0.1" th:field="${artwork.width}" />
                    </div>
                    <div class="form-item col-2">
                        <label for="height">Height (in.)</label>
                        <input type="number" min="0" step="0.1" th:field="${artwork.height}" />
                    </div>
                    <div class="form-item col-2">
                        <label for="depth">Depth (in.)</label>
                        <input type="number" min="0" step="0.1" th:field="${artwork.depth}" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-item col">
                        <label for="description">Description</label>
                        <textarea th:field="${artwork.description}"></textarea>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="form-item col">
                                <label for="imageId">Image ID</label>
                                <input th:field="${artwork.imageId}" />
                                <p class="error" th:errors="${artwork.imageId}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-item col">
                                <label for="style">Style</label>
                                <select th:field="${artwork.style}">
                                    <option value="">Select a style</option>
                                    <option th:each="style : ${styles}"
                                            th:value="${style.id}"
                                            th:text="${style.name}"
                                    ></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type='submit'>Add Artwork</button>
        </form>
    </main>
</body>
</html>
