<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
    <header th:replace="~{fragments :: header}"></header>
    <div id="admin-bar">
        <div class="nav">
            <a class="navlink" href="/artworks">View List of Artworks</a>
            <a class="navlink" href="/artworks/delete">Delete Art</a>
        </div>
    </div>
    <main>
        <form action='/artworks/add' method='POST'>
            <h3>Add Artwork to Collection</h3>

            <div class="container">
                <div class="row">
                    <div class="form-item col-8">
                        <label for="title">Title</label>
                        <input th:field="${artwork.title}" />
                        <p class="error" th:errors="${artwork.title}"></p>
                    </div>
                    <div class="form-item col-4">
                        <label for="artist">Artist</label>
                        <select th:field="${artwork.artist}">
                            <option value="">Select an artist</option>
                            <!-- th: text will use implicit toString() to get full name -->
                            <option th:each="artist : ${artists}"
                                    th:value="${artist.id}"
                                    th:text="${artist}"
                            ></option>
                        </select>
                        <p class="error" th:errors="${artwork.artist}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-item col">
                        <label for="media">Media</label>
                        <input th:field="${artwork.details.media}" />
                    </div>
                    <div class="form-item col">
                        <label for="yearCreated">Year Created</label>
                        <input th:field="${artwork.details.yearCreated}" />
                    </div>
                    <div class="form-item col">
                        <label for="style">Style</label>
                        <select th:field="${artwork.style}">
                            <option value="">Select a style</option>
                            <option th:each="style : ${styles}"
                                    th:value="${style}"
                                    th:text="${style.displayName}"
                            ></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-item col">
                        <label for="description">Description</label>
                        <textarea th:field="${artwork.details.description}"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-item col-2">
                        <label for="width">Width</label>
                        <input th:field="${artwork.details.width}" />
                    </div>
                    <div class="form-item col-2">
                        <label for="height">Height</label>
                        <input th:field="${artwork.details.height}" />
                    </div>
                    <div class="form-item col-2">
                        <label for="depth">Depth</label>
                        <input th:field="${artwork.details.depth}" />
                    </div>
                    <div class="form-item col-6">
                        <label for="imageId">Image Id</label>
                        <input th:field="${artwork.details.imageId}" />
                        <p class="error" th:errors="${artwork.details.imageId}"></p>
                    </div>
                </div>
            </div>

            <button type='submit'>Add Artwork</button>
        </form>
    </main>
</body>
</html>
