<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
    <header th:replace="~{fragments :: header}"></header>
    <div id="admin-bar">
        <div class="nav">
            <a class="navlink" href="/artworks">View List of Artworks</a>
            <a class="navlink" href="/artworks/add">Add Artwork</a>
        </div>
    </div>
    <main>
        <h3>Delete Artwork</h3>
        <p th:unless="${artworks} and ${artworks.size()}">
            <em>No artworks to display.</em>
        </p>
        <th:block th:if="${artworks} and ${artworks.size()}">
            <form action='/artworks/delete' method='POST'>
                <th:block th:each="artwork : ${artworks}">
                    <label>
                        <input type="checkbox" name="artworkIds" th:value="${artwork.id}" />
                        <span th:text="${artwork}"></span> <!-- implicitly calls toString() -->
                    </label><br />
                </th:block>
                <button class="delete" type='submit'>Delete</button>
            </form>
        </th:block>
    </main>
</body>
</html>