<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
    <header th:replace="~{fragments :: header}"></header>
    <div id="admin-bar">
        <div class="nav">
            <a class="navlink" href="/artworks">View List of Artworks</a>
            <a class="navlink" href="/artworks/add">Add Artwork</a>
            <a class="navlink" href="/artworks/delete">Delete Artwork</a>
        </div>
    </div>
    <main>
        <h2>Artwork Details</h2>

        <h4 th:text="${artwork.toString()}"></h4>

        <!-- TODO #1: Update all references to properties that are now a part of the artwork.details object -->
        <div class="mt-4 mb-4">
            <img class="mx-auto d-block" th:src="${'https://drive.google.com/thumbnail?sz=h500&id=' + artwork.imageId}" height="500px" />
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <h5>ID</h5>
                    <p th:text="${artwork.id}"></p>

                    <h5>Description</h5>
                    <p th:text="${artwork.description}"></p>
                </div>
                <div class="col">
                    <h5>Style</h5>
                    <!-- TODO #2: Replace this with a single string of multiple styles by calling getFormattedStyles() -->
                    <p th:text="${artwork.style.name}"></p>

                    <h5>Media</h5>
                    <p th:text="${artwork.media}"></p>

                    <h5>Dimensions</h5>
                    <p th:text="${artwork.getDimensions()}"></p>
                </div>
            </div>
        </div>

    </main>
</body>
</html>