<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
    <header th:replace="~{fragments :: header}"></header>
    <div id="admin-bar">
        <div class="nav">
            <a class="navlink" href="/artworks/add">Add Artwork</a>
            <a class="navlink" href="/artworks/delete">Delete Artwork</a>
        </div>
    </div>
    <main>
        <h2>ARTWORKS</h2>
        <p th:unless="${artworks} and ${artworks.size()}">
            <em>No artworks to display.</em>
        </p>
        <th:block th:if="${artworks} and ${artworks.size()}">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Year Created</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <!-- TODO #1: Update all references to properties that are now a part of the artwork.details object -->
                <tr th:each="artwork : ${artworks}">
                    <td th:text="${artwork.id}"></td>
                    <td><a th:href="${'/artworks/details/' + artwork.id}" th:text="${artwork.title}"></a></td>
                    <td th:text="${artwork.artist}"></td>
                    <td th:text="${artwork.yearCreated}"></td>
                    <td>
                        <a th:href="${'/artworks/details/' + artwork.id}">
                            <img th:src="${'https://drive.google.com/uc?export=view&id=' + artwork.imageId}" width="50px" />
                        </a>
                    </td>
                </tr>
            </table>
        </th:block>
    </main>
</body>
</html>