<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
    <header th:replace="~{fragments :: header}"></header>
    <div id="admin-bar">
        <div class="nav">
            <a class="navlink" href="/artworks/add">Add Artwork</a>
            <a class="navlink" href="/artworks/delete">Delete Artwork</a>
        </div>
    </div>
    <main>
        <h2>ARTWORKS</h2>

        <p th:unless="${artworkList} and ${artworkList.size()}">
            <em>No artworks to display.</em>
        </p>

        <th:block th:if="${artworkList} and ${artworkList.size()}">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Style</th>
                </tr>
                </thead>
                <tr th:each="artwork : ${artworkList}">
                    <td th:text="${artwork.id}"></td>
                    <td th:text="${artwork.title}"></td>
                    <td th:text="${artwork.artist}"></td>
                    <td th:text="${artwork.style.displayName}"></td>
                </tr>
            </table>
        </th:block>
    </main>
</body>
</html>